In [15]:
# Program make a simple calculator

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # Take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # Check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 1
Enter first number: 5
Enter second number: 10
5.0 + 10.0 = 15.0

In [6]:
rows = int(input("Enter the number of rows: "))  
  
# It is used to print space  
k = 2 * rows - 2  
# Outer loop in reverse order  
for i in range(rows, -1, -1):  
    # Inner loop will print the number of space.  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    # This inner loop will print the number o stars  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 3
    * * * *
     * * *
      * *
       *

In [9]:
n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  # decrementing m after each loop  
    for j in range(0, i + 1):  
        # printing full Triangle pyramid using stars  
        print("* ", end=' ')  
    print(" ")

Enter the number of rows: 4
      *
     *  *
    *  *  *
   *  *  *  *

In [71]:
n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1  # decrementing m after each loop  
    for j in range(0, i + 1):  
        # printing full Triangle pyramid using stars  
        print("* ", end=' ')  
    print("") 

    
rows = int(input("Enter the number of rows: "))  
  
# It is used to print space  
k = 2 * rows - 2  
# Outer loop in reverse order  
for i in range(rows, -1, -1):  
    # Inner loop will print the number of space.  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
    # This inner loop will print the number o stars  
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 5
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *
Enter the number of rows: 3
    * * * *
     * * *
      * *
       *

In [12]:

a = 60            # 60 = 0011 1100 

b = 13            # 13 = 0000 1101 

c = 0



c = a & b;        # 12 = 0000 1100

print ("Line 1 - Value of c is ", c)


1
c = a | b;        # 61 = 0011 1101 

print ("Line 2 - Value of c is ", c)



c = a ^ b;        # 49 = 0011 0001

print ("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011

print ("Line 4 - Value of c is ", c)



c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111

print ("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [16]:
x = 0b10100 #Binary Literals  
y = 100 #Decimal Literal   
z = 0o215 #Octal Literal  
u = 0x12d #Hexadecimal Literal  
  
#Float Literal  
float_1 = 100.5   
float_2 = 1.5e2  
  
#Complex Literal   
a = 5+3.14j  
  
print(x, y, z, u)  
print(float_1, float_2)  
print(a, a.imag, a.real)

20 100 141 301
100.5 150.0
(5+3.14j) 3.14 5.0

In [17]:
a=-10
a

-10

In [18]:
a<<2

-40

In [19]:
a>>2

-3

In [20]:
a = 60            # 60 = 0011 1100 
c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)
c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 5 - Value of c is  240
Line 6 - Value of c is  15

In [22]:
a = -60            # 60 = 0011 1100 
c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)
c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 5 - Value of c is  -240
Line 6 - Value of c is  -15

In [23]:
a = 10           # 60 = 0011 1100 
c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)
c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 5 - Value of c is  40
Line 6 - Value of c is  2

In [24]:
a = -10            # 60 = 0011 1100 
c = a << 2;       # 240 = 1111 0000
print ("Line 5 - Value of c is ", c)
c = a >> 2;       # 15 = 0000 1111
print ("Line 6 - Value of c is ", c)

Line 5 - Value of c is  -40
Line 6 - Value of c is  -3

In [32]:
"{0:b}".format(60)

'111100'

In [57]:
total = 0 
while True: 
   answer = input('Provide the next data item (or \'exit\' to stop>') 
   if answer == 'exit': 
       break 
 
   input_data = int(answer) 
   total = total + input_data 
   print('Input data : {}. Running total : {}'.format(input_data, total)) 
 
print('Final total : {}'.format(total))

Provide the next data item (or 'exit' to stop>5
Input data : 5. Running total : 5
Provide the next data item (or 'exit' to stop>10
Input data : 10. Running total : 15
Provide the next data item (or 'exit' to stop>15
Input data : 15. Running total : 30
Provide the next data item (or 'exit' to stop>exit
Final total : 30

In [44]:
import numpy as np

In [47]:
np.array(list(range(1,5))).mean()

2.5

In [48]:
(1+2+3+4)/4

2.5

In [55]:
a=0
n=5
while a<n:
    print(a,end=' ')
    a+=1

0 1 2 3 4

# Input validation loops

In [59]:
while True:
    try:
        # Note: Python 2.x users should use raw_input, the equivalent of 3.x's input
        age = int(input("Please enter your age: "))
    except ValueError:
        print("Sorry, I didn't understand that.")
        #better try again... Return to the start of the loop
        continue
    else:
        #age was successfully parsed!
        #we're ready to exit the loop.
        break
if age >= 18: 
    print("You are able to vote in the United States!")
else:
    print("You are not able to vote in the United States.")

Please enter your age:
Sorry, I didn't understand that.
Please enter your age: 15
You are not able to vote in the United States.

In [66]:
from itertools import chain, repeat

prompts = chain(["Enter a positive number:"], repeat("I need a positive number! Try again:"))
replies = map(input, prompts)
numeric_strings = filter(str.isnumeric, replies)
numbers = map(float, numeric_strings)
is_positive = (0.).__lt__
valid_response = next(filter(is_positive, numbers))
print(valid_response)

Enter a positive number:a
I need a positive number! Try again:1000
1000.0

In [68]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*',end=' ')
    print()
for i in range(3,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [74]:
print('hi')
print('i\'m phani')
print("i'm phani")
print("""
i'm phani,
how may i help u,
nyc to c u.
""")

hi
i'm phani
i'm phani

i'm phani,
how may i help u,
nyc to c u.

In [75]:
import pandas as pd

In [76]:
df=pd.read_csv('https://raw.githubusercontent.com/srivatsan88/YouTubeLI/master/dataset/marketing_cva_f.csv')

In [77]:
df.head()

,Customer,State,CLV,Coverage,Income,loc_type,monthly_premium,months_last_claim,Months_Since_Policy_Inception,Total_Claim_Amount,Vehicle_Class,avg_vehicle_age
0,BU79786,Washington,2763.519279,Basic,56274,Suburban,69,32,5,384.811147,Two-Door Car,40.696695
1,AI49188,Nevada,12887.431650,Premium,48767,Suburban,108,18,38,566.472247,Two-Door Car,48.755298
2,HB64268,Washington,2813.692575,Basic,43836,Rural,73,12,44,138.130879,Four-Door Car,70.394474
3,OC83172,Oregon,8256.297800,Basic,62902,Rural,69,14,94,159.383042,Two-Door Car,53.460212
4,XZ87318,Oregon,5380.898636,Basic,55350,Suburban,67,0,13,321.600000,Four-Door Car,32.811507

In [82]:
df.Coverage.value_counts()

Basic       4178
Extended    2021
Premium      618
Name: Coverage, dtype: int64

In [104]:
df.monthly_premium.describe()

count    6817.000000
mean       92.963034
std        34.615160
min        61.000000
25%        68.000000
50%        83.000000
75%       109.000000
max       297.000000
Name: monthly_premium, dtype: float64

In [106]:
bins=[60,90,np.inf]
labels=['low','high']
pd.cut(df.monthly_premium,bins=bins,labels=labels)

0        low
1       high
2        low
3        low
4        low
        ...
6812     low
6813    high
6814     low
6815     low
6816    high
Name: monthly_premium, Length: 6817, dtype: category
Categories (2, object): ['low' < 'high']

In [117]:


# Python program showing how to use
# string modulo operator(%) to print
# fancier output
 
# print integer and float value
print("Geeks : % 2d, Portal : % 5.3f" %(1, 05.33333333)) 
 
# print integer value
print("Total students : % 3d, Boys : % 2d" %(240, 120))
 
# print octal value
print("% 7.3o"% (25))
 
# print exponential value
print("% 10.3E"% (356.08977))

Geeks :  1, Portal :  5.333
Total students :  240, Boys :  120
    031
 3.561E+02

In [110]:
print("Geeks : % 2d, Portal : % 5.2f" %(1, 05.333))

Geeks :  1, Portal :  5.33

In [119]:
print("%o"% (25))

31

In [120]:
print("Second argument: {1:3d}, first one: {0:7.2f}".format(47.42, 11))

Second argument:  11, first one:   47.42

In [122]:
# Python program to 
# show format () is 
# used in dictionary

tab = {'geeks': 4127, 'for': 4098, 'geek': 8637678}

# using format() in dictionary
print('Geeks: {0[geeks]:d}; For: {0[for]:d}; ''Geeks: {0[geek]:d}'.format(tab))

data = dict(fun ="GeeksForGeeks", adj ="Portal")

# using format() in dictionary
print("I love {fun} computer {adj}".format(**data))

Geeks: 4127; For: 4098; Geeks: 8637678
I love GeeksForGeeks computer Portal

In [125]:
# Python program to
# format a output using
# string() method

cstr = "I love geeksforgeeks love"

# Printing the center aligned 
# string with fillchr 
print ("Center aligned string with fillchr: ") 
print (cstr.center(40, '#')) 

# Printing the left aligned 
# string with "-" padding 
print ("The left aligned string is : ") 
print (cstr.ljust(40, '-'))

# Printing the right aligned string 
# with "-" padding 
print ("The right aligned string is : ") 
print (cstr.rjust(40, '-'))

Center aligned string with fillchr:
#######I love geeksforgeeks love########
The left aligned string is :
I love geeksforgeeks love---------------
The right aligned string is :
---------------I love geeksforgeeks love

In [141]:
a.capitalize()

'I am phani, phani works on data science'

In [145]:
txt = "Hello,welcome to my world."

x = txt.find("welcome")

print(x)

6

In [152]:
txt = "Hello,welcome to my world."

x = txt.find("e", 5, 10)

print(x)
print(txt.index("t"))

7
14

In [155]:
l=[1,2,3]
l.index(3)

2

In [118]:
import pandas as pd
import numpy as np

In [164]:
df=pd.read_excel('crtdata.xlsx')

In [169]:
pd.set_option('display.max_rows',1000000)

In [170]:
df

     2020-12-22   2020-12-23  2020-12-24   2020-12-26   2020-12-28
0    188T1A0106   198T5A0401  198T5A0101   188T1A0101   198T5A0209
1    188T1A0113   198T5A0402  198T5A0102   188T1A0106   198T5A0116
2    188T1A0115   198T5A0404  198T5A0104   188T1A0115   188T1A0209
3    188T1A0134   198T5A0405  198T5A0107   188T1A0117   188T1A0106
4    188T1A0142   198T5A0408  198T5A0108   188T1A0134   188T1A0202
5    198T5A0102   198T5A0411  198T5A0109   188T1A0142   198T5A0210
6    198T5A0104   198T5A0414  198T5A0111   198T5A0102   198T5A0216
7    198T5A0106   198T5A0415  198T5A0113   198T5A0104   188T1A0117
8    198T5A0110   188T1A0402  198T5A0114   198T5A0109   198T5A0133
9    198T5A0111   188T1A0403  198T5A0116  198T5A0111    198T5A0202
10   198T5A0112   188T1A0405  198T5A0117   198T5A0112  188T1A0338
11   198T5A0113   188T1A0406  198T5A0118   198T5A0113   198T5A0217
12   198T5A0116   188T1A0407  198T5A0119   198T5A0114   188T1A0142
13   198T5A0117   188T1A0411  198T5A0120   198T5A0116   198T5A0224
14   198T5A0128   188T1A0413  198T5A0121   198T5A0117   198T5A0212
15   198T5A0133   188T1A0415  198T5A0122   198T5A0119   198T5A0319
16   198T5A0135   188T1A0417  198T5A0123   198T5A0121   188T1A0206
17   198T5A0138   188T1A0418  198T5A0131   198T5A0126   188T1A0207
18   198T5A0132   188T1A0420  198T5A0135   198T5A0133   198T5A0117
19   188T1A0202   188T1A0421  198T5A0136   198T5A0135  198T5A0220
20   188T1A0201   188T1A0422  198T5A0137   198T5A0137   198T5A0226
21   188T1A0203   188T1A0423  188T1A0115   198T5A0138   188T1A0211
22   188T1A0206   188T1A0425  188T1A0117   198T5A0139   198T5A0102
23   188T1A0207   188T1A0427  188T1A0142   188T1A0201   198T5A0229
24   188T1A0209   188T1A0431  188T1A0144   188T1A0202   188T1A0203
25   188T1A0211   188T1A0432  188T1A0145   188T1A0203   188T1A0111
26   188T1A0212   188T1A0434  198T5A0201   188T1A0206   188T1A0103
27   188T1A0214   188T1A0435  198T5A0202   188T1A0209   188T1A0115
28   188T1A0215   188T1A0437  198T5A0204   188T1A0211   188T1A0216
29   188T1A0216   188T1A0438  198T5A0209  188T1A0212    198T5A0218
30   198T5A0201   188T1A0442  198T5A0215   188T1A0214   198T5A0201
31   198T5A0202   188T1A0445  198T5A0219   188T1A0215   188T1A0201
32   198T5A0205   188T1A0447  198T5A0220   188T1A0216   198T5A0203
33   198T5A0209   188T1A0448  198T5A0224   198T5A0201   188T1A0215
34   198T5A0210   188T1A0454  198T5A0225   198T5A0202   188T1A0401
35   198T5A0212  188T1A0456   198T5A0226   198T5A0203   188T1A0460
36   198T5A0213   188T1A0457  198T5A0229   198T5A0210   188T1A0421
37   198T5A0216   188T1A0461  188T1A0201   198T5A0218   188T1A0552
38   198T5A0216   188T1A0462  188T1A0202  198T5A0220    188T1A04B5
39   198T5A0217   188T1A0463  188T1A0203   198T5A0226   188T1A0420
40   198T5A0218   188T1A0464  198T5A0223   198T5A0229   188T1A0443
41   198T5A0219   188T1A0467  188T1A0208   198T5A0224   188T1A0474
42   198T5A0220   188T1A0468  188T1A0214   188T1A0338   188T1A0465
43   198T5A0221   188T1A0471  188T1A0215   188T1A0487   188T1A0503
44   198T5A0224   188T1A0473  188T1A0216   188T1A0497   188T1A0403
45   198T5A0225   188T1A0475  188T1A0341   188T1A0490   188T1A0424
46   198T5A0226   188T1A0476  198T5A0302   188T1A0402   188T1A0468
47   198T5A0229   188T1A0477  198T5A0314   188T1A0403   188T1A0406
48   198T5A0232   188T1A0484  198T5A0335   188T1A0406   188T1A0415
49   188T1A0526   188T1A0498  198T5A0401   188T1A0407   188T1A0413
50   188T1A0501   188T1A0499  198T5A0404   188T1A0409   188T1A0560
51   188T1A0503  188T1A04A3   198T5A0406   188T1A0417   188T1A0448
52   188T1A0506  188T1A04A4   198T5A0408   188T1A0419   188T1A0431
53   188T1A0510   188T1A04A8  198T5A0411   188T1A0420  188T1A04A3
54   188T1A0512   188T1A04B0  198T5A0414   188T1A0423   198T5A0411
55   188T1A0513   188T1A04B5  198T5A0415   188T1A0424   188T1A0506
56   188T1A0517   188T1A0506  188T1A0401   188T1A0425   188T1A05A4
57   188T1A0519   188T1A0513  188T1A0402   188T1A0428  198T5A0406
58   188T1A0521   188T1A0516  188T1A0405   188T1A0431   188T1A0445
59   188T1A0527   188T1A0519  188T1A0407   188T1A0433   188T1A0437
60   188T1A0533   188T1A0520  188T1A0409   188T1A0434   188T1A0532
61   188T1A0540   188T1A0521  188T1A0412   188T1A0436  188T1A04A4
62   188T1A0544   188T1A0527  188T1A0413   188T1A0443   188T1A0484
63   188T1A0547   188T1A0528  188T1A0415   188T1A0445   188T1A0499
64   188T1A0548   188T1A0532  188T1A0418   188T1A0447   188T1A0583
65   188T1A0554   188T1A0540  188T1A0419   188T1A0448   188T1A0576
66   188T1A0560  188T1A0548   188T1A0420   188T1A0454   188T1A0454
67   188T1A0561   188T1A0552  188T1A0422   188T1A0455   188T1A0578
68   188T1A0563   188T1A0554  188T1A0423   188T1A0460   188T1A05A1
69   188T1A0567   188T1A0556  188T1A0425   188T1A0461   188T1A0514
70   188T1A0571   188T1A0557  188T1A0426   188T1A0462   188T1A0417
71   188T1A0575   188T1A0559  188T1A0427   188T1A0464  188T1A0456
72   188T1A0576   188T1A0560  188T1A0428   188T1A0465   188T1A0490
73   188T1A0578   188T1A0574  188T1A0430   188T1A0466   188T1A0540
74   188T1A0583   188T1A0575  188T1A0431   188T1A0467   188T1A0538
75   188T1A0584   188T1A0576  188T1A0436   188T1A0468   198T5A0414
76   188T1A0593   188T1A0577  188T1A0437   188T1A0471   188T1A0402
77   188T1A05A1   188T1A0578  188T1A0438   188T1A0473   198T5A0405
78   188T1A05A4   188T1A0583  188T1A0440   188T1A0474   188T1A0464
79   188T1A05B1   188T1A0584  188T1A0445   188T1A0475  198T5A0407
80   198T5A0503   188T1A05A1  188T1A0447   188T1A0476   188T1A0457
81   198T5A0510   188T1A05A9  188T1A0448   188T1A0484   188T1A04B4
82   198TTA0507   198T5A0510  188T1A0449   188T1A0495   188T1A04A8
83   188T1A0474   198T5A0216  188T1A0454   188T1A0498   188T1A0510
84   188T1A0401   198T5A0201  188T1A0455   188T1A0499   188T1A0520
85   188T1A0402   198T5A0202  188T1A0460  188T1A04A1    188T1A0409
86   188T1A0403   188T1A0215  188T1A0461  188T1A04A3    188T1A0434
87   188T1A0405   188T1A0203  188T1A0462  188T1A04A4    198T5A0404
88   188T1A0406   198T5A0229  188T1A0463   188T1A04A7   198T5A0401
89   188T1A0407   198T5A0125  188T1A0464   188T1A04A8   188T1A0579
90   188T1A0409   198T5A0135  188T1A0466   188T1A04B4   198T5A0413
91   188T1A0412   198T5A0210  188T1A0467   188T5A0401   188T1A0556
92   188T1A0413   198T5A0137  188T1A0468   198T5A0402   198T5A0415
93   188T1A0415   198T5A0113  188T1A0471   198T5A0406   188T1A0526
94   188T1A0417   188T1A0201  188T1A0473  198T5A0407    188T1A0557
95   188T1A0418   198T5A0224  188T1A0474   198T5A0408   188T1A0467
96   188T1A0419   188T1A0214  188T1A0475   198T5A0411   188T1A04B1
97   188T1A0420   188T1A0208  188T1A0476   198T5A0414   188T1A0438
98   188T1A0421   188T1A0216  188T1A0480   198T5A0415   188T1A0476
99   188T1A0422   188T1A0212  188T1A0484   198T5A0404   188T1A0528
100  188T1A0425   198T5A0102  188T1A0487   188T1A0501   188T1A0414
101  188T1A0427   198T5A0138  188T1A0490   188T1A0506   188T1A0511
102  188T1A0428          NaN  188T1A0492   188T1A0510   188T1A0435
103  188T1A0431          NaN  188T1A0497   188T1A0513   188T1A0407
104  188T1A0434          NaN  188T1A0498   188T1A0514   198T5A0510
105  188T1A0437          NaN  188T1A0499   188T1A0519   188T1A0521
106  188T1A0442          NaN  188T1A04A1   188T1A0520   188T1A0487
107  188T1A0443          NaN  188T1A04A2   188T1A0526   188T1A0412
108  188T1A0444          NaN  188T1A04A3   188T1A0527   188T1A04B0
109  188T1A0445          NaN  188T1A04A4   188T1A0528   188T1A0495
110  188T1A0447          NaN  188T1A04A8   188T1A0532   188T1A0562
111  188T1A0448          NaN  188T1A04B1   188T1A0538   188T1A0405
112  188T1A0449          NaN  188T1A04B2   188T1A0540   188T1A0558
113  188T1A0454          NaN  188T1A04B5  188T1A0548    188T1A0584
114  188T1A0455          NaN  198T5A0503   188T1A0552   188T1A0502
115  188T1A0456          NaN  188T1A0503   188T1A0554   188T1A0444
116  188T1A0457          NaN  188T1A0510   188T1A0555   188T1A0561
117  188T1A0460          NaN  188T1A0512  188T1A0557    188T1A0463
118  188T1A0461          NaN  188T1A0513   188T1A0558  188T1A0440
119  188T1A0462          NaN  188T1A0519   188T1A0560   188T1A0436
120  188T1A0463          NaN  188T1A0520   188T1A0562   188T1A0475
121  188T1A0464          NaN  188T1A0521   188T1A0567   188T1A0577
122  188T1A0465          NaN  188T1A0526   188T1A0574   188T1A0455
123  188T1A0466          NaN  188T1A0528   188T1A0575   188T1A0477
124  188T1A0467          NaN  188T1A0532   188T1A0576   188T1A0492
125  188T1A0468          NaN  188T1A0540   188T1A0577   188T1A0410
126  188T1A0473          NaN  188T1A0548   188T1A0578   188T1A04A7
127  188T1A0475          NaN  188T1A0552   188T1A0583   188T1A0471
128  188T1A0476          NaN  188T1A0554   188T1A0584   188T1A0447
129  188T1A0477          NaN  188T1A0556   188T1A0593   188T1A0531
130  188T1A0480          NaN  188T1A0557   188T1A05A4   198T5A0408
131  188T1A0482          NaN  188T1A0560   188T1A05A8   188T1A0473
132  188T1A0484          NaN  188T1A0562   198T5A0510  188T1A04A1
133  188T1A0487          NaN  188T1A0574          NaN   188T1A0419
134  188T1A0492          NaN  188T1A0575          NaN          NaN
135  188T1A0497          NaN  188T1A0576          NaN          NaN
136  188T1A0498          NaN  188T1A0578          NaN          NaN
137  188T1A0499          NaN  188T1A0579          NaN          NaN
138  188T1A04A7          NaN  188T1A0580          NaN          NaN
139  188T1A04A8          NaN  188T1A0583          NaN          NaN
140  188T1A04A9          NaN  188T1A0584          NaN          NaN
141  188T1A04B4          NaN  188T1A0593          NaN          NaN
142  188T1A04B5          NaN  188T1A05A0          NaN          NaN
143  198T5A0401          NaN  188T1A05A1          NaN          NaN
144  198T5A0402          NaN  188T1A05A4          NaN          NaN
145  198T5A0404          NaN  188T1A05B2          NaN          NaN
146  198T5A0405          NaN         NaN          NaN          NaN
147  198T5A0406          NaN         NaN          NaN          NaN
148  198T5A0407          NaN         NaN          NaN          NaN
149  198T5A0408          NaN         NaN          NaN          NaN
150  198T5A0411          NaN         NaN          NaN          NaN
151  198T5A0414          NaN         NaN          NaN          NaN
152  198T5A0415          NaN         NaN          NaN          NaN

In [172]:
df.isna().sum()

2020-12-22     0
2020-12-23    51
2020-12-24     7
2020-12-26    20
2020-12-28    19
dtype: int64

In [174]:
df.describe(include='all')

        2020-12-22  2020-12-23  2020-12-24  2020-12-26  2020-12-28
count          153         102         146         133         134
unique         152         102         146         133         134
top     198T5A0216  188T1A0499  188T1A0499  198T5A0218  188T1A0473
freq             2           1           1           1           1

In [1]:
# ahdkaskhkiwehfihaewfjrwioj

In [3]:
a="""
gefuef
bmdbfkk
dfgsjefhs"""

In [4]:
print(a)

gefuef
bmdbfkk
dfgsjefhs

In [5]:
input()

dkfkjkjdfvx

'dkfkjkjdfvx'

In [7]:
a=int(input('enter a value :'))
type(a)

enter a value :5

int

In [8]:
a=1
b=1.5
c=a+b
c

2.5

In [ ]:
a=int(input())
if a>=20:
    print('dsdbmhsdzh')

In [9]:
print('hbdxxfkj')

hbdxxfkj

In [13]:
print("i'm good")

i'm good

In [10]:
print("dsfzjdsdkjhzx")

dsfzjdsdkjhzx

In [14]:
print("""shdzfsdcsdvj,

fvnkjfjd
kdfmvkldfx
dfnvldfm
fvmldfvx
bkfmxvm.k
dlfkvmlkfk
vnzkdvmfdc""")

shdzfsdcsdvj,

fvnkjfjd
kdfmvkldfx
dfnvldfm
fvmldfvx
bkfmxvm.k
dlfkvmlkfk
vnzkdvmfdc

In [1]:
l=[1,2,'pjcjecjerh']

In [2]:
l[2]

'pjcjecjerh'

In [3]:
l[1]

2

In [6]:
l.index(1)

0

In [9]:
l=['a',1,'a']

In [13]:
l.index('a')

0

In [14]:
l=list(range(1,10))

In [15]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
l[-1]='fhtf1nh'

In [18]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 'fhtf1nh']

In [19]:
t=(1,'B')

In [20]:
t[1]='yg4yg6y'

TypeError: 'tuple' object does not support item assignment

In [21]:
t

(1, 'B')

In [22]:
a=list(t)

In [23]:
a

[1, 'B']

In [24]:
a[1]=2

In [25]:
a

[1, 2]

In [26]:
tuple(a)

(1, 2)

In [ ]:
a=['apple','cherry','banana']

In [27]:
l=[1,2,3,'abcd']

In [28]:
l

[1, 2, 3, 'abcd']

In [29]:
l[3]

'abcd'

In [30]:
l[3]='hello'

In [31]:
l

[1, 2, 3, 'hello']

In [32]:
l.append('welcome')

In [35]:
l[0]='hello'

In [36]:
l.count('hello')

2

In [37]:
l

['hello', 2, 3, 'hello', 'welcome']

In [39]:
l.index('welcome')

4

In [40]:
l.insert(2,['a',1,2,3,4])

In [41]:
l

['hello', 2, ['a', 1, 2, 3, 4], 3, 'hello', 'welcome']

In [42]:
l[2]

['a', 1, 2, 3, 4]

In [43]:
l[2][4]

4

In [49]:
l[2][::-1][2:]

[2, 1, 'a']

In [50]:
l.pop()

'welcome'

In [51]:
l

['hello', 2, ['a', 1, 2, 3, 4], 3, 'hello']

In [59]:
a=[1,2,'pk']

In [60]:
a.remove('pk')

In [61]:
a

[1, 2]

In [62]:
a.reverse()

In [63]:
a

[2, 1]

In [64]:
t=(1,'abcd',2)

In [65]:
t[1]

'abcd'

In [66]:
t[1:]

('abcd', 2)

In [67]:
t[1]='hello'

TypeError: 'tuple' object does not support item assignment

In [68]:
t

(1, 'abcd', 2)

In [69]:
a=list(t)

In [70]:
a

[1, 'abcd', 2]

In [72]:
a[1]='demo'

In [73]:
a

[1, 'demo', 2]

In [74]:
tuple(a)

(1, 'demo', 2)

In [76]:
t.count(2)

1

In [77]:
a={1,2,2,2,2,2,23,3,3,3,3,3,3,5,5,5,5,}

In [78]:
a

{1, 2, 3, 5, 23}

In [80]:
a=[1,2,2,2,2,2,2,2,22,2,2]

In [81]:
set(a)

{1, 2, 22}

In [83]:
a={'a':1,'b':2,'c':[1,2,3]}

In [84]:
a

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [85]:
type(a)

dict

In [86]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [87]:
a.values()

dict_values([1, 2, [1, 2, 3]])

In [88]:
a.items()

dict_items([('a', 1), ('b', 2), ('c', [1, 2, 3])])

In [90]:
ab=list(a.items())

In [91]:
ab

[('a', 1), ('b', 2), ('c', [1, 2, 3])]

In [92]:
ab[1]

('b', 2)

In [93]:
ab[1][0]

'b'

In [98]:
a.get('c')

[1, 2, 3]

In [100]:
a.pop('c')

[1, 2, 3]

In [101]:
a

{'a': 1, 'b': 2}

In [102]:
a=10
a<<2

40

In [104]:
print("{0:b}".format(10))

1010

In [106]:
a>>2

2

# https://realpython.com/python-exceptions/

UNIT V
Errors and Exceptions: Syntax Errors, Exceptions, Handling Exceptions, Raising Exceptions, User-defined Exceptions,
Defining Clean-up Actions, Redefined Clean-up Actions
Graphical User Interfaces: The Behavior of Terminal Based Programs and GUI  Based, Programs , Coding Simple
GUI-Based Programs, Other Useful GUI Resources
Programming: Introduction to Programming Concepts with Scratch

In [108]:
a = 3
b = 0
c = a/b
print('Hi there')

ZeroDivisionError: division by zero

In [109]:
a = 3
b = 0
try:
    c=a/b
except ZeroDivisionError:
    print('Calculation error')
print('Hi there')

Calculation error
Hi there

In [112]:
try:
    a = eval(input('Enter a number: '))
    print (3/a)
except NameError:
    print('Please enter a number.')
except ZeroDivisionError:
    print("Can't enter 0.")

Enter a number: 0
Can't enter 0.

In [113]:
try:
    a = eval(input('Enter a number: '))
    print (3/a)
except:
    print('A problem occurred.')

Enter a number: 0
A problem occurred.

In [114]:
try:
    c = a/0
except Exception as e:
    print(e)

division by zero

In [115]:
try:
    file = open('filename.txt', 'r')
except IOError:
    print('Could not open file')
else:
    s = file.read()
    print(s)

Could not open file

In [ ]:
while True:
    try:
        a= int(input('Enter first number::'))
        b= int(input('Enter second number::'))
        res=a/b
        print(res)
        #break
    
    except:
        print('Invalid Input..')
        print('Please input numbers')
        continue
    else :
        print("this will execute once this will be done ")
        break

In [124]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [125]:
askint()

Please enter an integer: 1
Finally, I executed!
1

In [129]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            try:
                val = int(input("Try again-Please enter an integer: "))
            except:
                print("handle it ")
        finally:
            print("Finally, I executed!")

In [130]:
askint()

Please enter an integer: #
Looks like you did not enter an integer!
Try again-Please enter an integer: #
handle it
Finally, I executed!

In [131]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            break
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
            print(val)

In [133]:
askint()

Please enter an integer: 2
Yep thats an integer!
Finally, I executed!
2

In [134]:
f = open('filename.txt', 'w')
s = 'hi'
try:
    # some code that could potentially fail goes here
finally:
    f.close()

IndentationError: expected an indented block (<ipython-input-134-c6f2567a27a8>, line 5)

In [1]:
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 10

In [2]:
import sys
assert ('linux' in sys.platform), "This code runs on Linux only."

AssertionError: This code runs on Linux only.

In [3]:
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')

In [4]:
try:
    linux_interaction()
except:
    pass

In [5]:
try:
    linux_interaction()
except:
    print('Linux function was not executed')

Linux function was not executed

In [6]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
    print('The linux_interaction() function was not executed')

Function can only run on Linux systems.
The linux_interaction() function was not executed

In [7]:
try:
    with open('file.log') as file:
        read_data = file.read()
except:
    print('Could not open file.log')

Could not open file.log

In [8]:
try:
    with open('file.log') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
    print(fnf_error)

[Errno 2] No such file or directory: 'file.log'

In [9]:
try:
    linux_interaction()
    with open('file.log') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
    print(fnf_error)
except AssertionError as error:
    print(error)
    print('Linux linux_interaction() function was not executed')

Function can only run on Linux systems.
Linux linux_interaction() function was not executed

In [10]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
else:
    print('Executing the else clause.')

Function can only run on Linux systems.

In [11]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
else:
    try:
        with open('file.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)

Function can only run on Linux systems.

In [18]:
try:
    with open('file.log') as file:
        read_data = file.read()
except FileNotFoundError as fnf_error:
        print(fnf_error)

[Errno 2] No such file or directory: 'file.log'

In [19]:
try:

    linux_interaction()
except AssertionError as error:
    print(error)
else:
    try:
        with open('newfile.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)
finally:
    print('Cleaning up, irrespective of any exceptions.')

Function can only run on Linux systems.
Cleaning up, irrespective of any exceptions.

# User-defined Exceptions in Python with Examples

In [20]:
# A python program to create user-defined exception 

# class MyError is derived from super class Exception 
class MyError(Exception): 

	# Constructor or Initializer 
	def __init__(self, value): 
		self.value = value 

	# __str__ is to print() the value 
	def __str__(self): 
		return(repr(self.value)) 

try: 
	raise(MyError(3*2)) 

# Value of Exception is stored in error 
except MyError as error: 
	print('A New Exception occured: ',error.value)

A New Exception occured:  6

In [21]:
# class Error is derived from super class Exception 
class Error(Exception): 

	# Error is derived class for Exception, but 
	# Base class for exceptions in this module 
	pass

class TransitionError(Error): 

	# Raised when an operation attempts a state 
	# transition that's not allowed. 
	def __init__(self, prev, nex, msg): 
		self.prev = prev 
		self.next = nex 

		# Error message thrown is saved in msg 
		self.msg = msg 
try: 
	raise(TransitionError(2,3*2,"Not Allowed")) 

# Value of Exception is stored in error 
except TransitionError as error: 
	print('Exception occured: ',error.msg)

Exception occured:  Not Allowed

In [22]:
# NetworkError has base RuntimeError 
# and not Exception 
class Networkerror(RuntimeError): 
	def __init__(self, arg): 
		self.args = arg 

try: 
	raise Networkerror("Error") 

except Networkerror as e: 
	print (e.args)

('E', 'r', 'r', 'o', 'r')

In [25]:
# define Python user-defined exceptions
class Error(Exception):
    """Base class for other exceptions"""
    pass


class ValueTooSmallError(Error):
    """Raised when the input value is too small"""
    pass


class ValueTooLargeError(Error):
    """Raised when the input value is too large"""
    pass


# you need to guess this number
number = 10

# user guesses a number until he/she gets it right
while True:
    try:
        i_num = int(input("Enter a number: "))
        if i_num < number:
            raise ValueTooSmallError
        elif i_num > number:
            raise ValueTooLargeError
        break
    except ValueTooSmallError:
        print("This value is too small, try again!")
        print()
    except ValueTooLargeError:
        print("This value is too large, try again!")
        print()

print("Congratulations! You guessed it correctly.")

Enter a number: 1
This value is too small, try again!

Enter a number: 10
Congratulations! You guessed it correctly.

# Defining/redefine Clean-up Actions,

In [26]:
try:
   raise SyntaxError
finally:
   print("Learning Python!")

Learning Python!

SyntaxError: None (<string>)

In [27]:
file = open('finally.txt', 'w')
try:
   file.write("Testing1 2 3.")
   print("Writing to file.")
except IOError:
   print("Could not write to file.")
else:
   print("Write successful.")
finally:
   file.close()
   print("File closed.")

Writing to file.
Write successful.
File closed.

In [28]:
file = open('finally.txt', 'r')
try:
   file.write("Testing1 2 3.")
   print("Writing to file.")
except IOError:
   print("Could not write to file.")
else:
   print("Write successful.")
finally:
   file.close()
   print("File closed.")

Could not write to file.
File closed.

In [29]:
file = open('finally.txt', 'r')
try:
   file.write(4)
   print("Writing to file.")
except IOError:
   print("Could not write to file.")
else:
   print("Write successful.")
finally:
   file.close()
   print("File closed.")

File closed.

TypeError: write() argument must be str, not int

In [33]:
# Python code to illustrate 
# clean up actions 
def divide(x, y): 
	try: 
		# Floor Division : Gives only Fractional Part as Answer 
		result = x / y 
	except ZeroDivisionError: 
		print("Sorry ! You are dividing by zero ") 
	else: 
		print("Yeah ! Your answer is :", result) 
	finally: 
		print("I'm finally clause, always raised !! ") 

# Look at parameters and note the working of Program 
divide(3, 2)

Yeah ! Your answer is : 1.5
I'm finally clause, always raised !!

In [36]:
# Python code to illustrate 
# clean up actions 
def divide(x, y): 
	try: 
		# Floor Division : Gives only Fractional Part as Answer 
		result = x / y 
	except ZeroDivisionError: 
		print("Sorry ! You are dividing by zero ") 
	else: 
		print("Yeah ! Your answer is :", result) 
	finally: 
		print("I'm finally clause, always raised !! ") 

# Look at parameters and note the working of Program 
divide(3, 0)

Sorry ! You are dividing by zero
I'm finally clause, always raised !!

In [37]:
# Python code to illustrate 
# clean up actions 
def divide(x, y): 
	try: 
		# Floor Division : Gives only Fractional Part as Answer 
		result = x / y 
	except ZeroDivisionError: 
		print("Sorry ! You are dividing by zero ") 
	else: 
		print("Yeah ! Your answer is :", result) 
	finally: 
		print("I'm finally clause, always raised !! ") 

# Look at parameters and note the working of Program 
divide(3, "3")

I'm finally clause, always raised !!

TypeError: unsupported operand type(s) for /: 'int' and 'str'

# GUI   https://www.brianheinold.net/python/python_book.html#

In [38]:
from tkinter import *
root = Tk()
mainloop()

In [39]:
from tkinter import *

def calculate():
    temp = int(entry.get())
    temp = 9/5*temp+32
    output_label.configure(text = 'Converted: {:.1f}'.format(temp))
    entry.delete(0,END)

root = Tk()
message_label = Label(text='Enter a temperature',
                      font=('Verdana', 16))
output_label = Label(font=('Verdana', 16))
entry = Entry(font=('Verdana', 16), width=4)
calc_button = Button(text='Ok', font=('Verdana', 16),
                     command=calculate)

message_label.grid(row=0, column=0)
entry.grid(row=0, column=1)
calc_button.grid(row=0, column=2)
output_label.grid(row=1, column=0, columnspan=3)

mainloop()

In [43]:
from tkinter import *

def callback():
    label.configure(text='Button clicked')

root = Tk()
label = Label(text='Not clicked')
button = Button(text='Click me', command=callback)

label.grid(row=0, column=0)
button.grid(row=1, column=0)

mainloop()

In [44]:
from tkinter import *
alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

def callback(x):
    label.configure(text='Button {} clicked'.format(alphabet[x]))

root = Tk()

label = Label()
label.grid(row=1, column=0, columnspan=26)

buttons = [0]*26 # create a list to hold 26 buttons
for i in range(26):
    buttons[i] = Button(text=alphabet[i],
                        command = lambda x=i: callback(x))
    buttons[i].grid(row=0, column=i)

mainloop()

In [45]:

from turtle import *
from freegames import line

def grid():
    "Draw tic-tac-toe grid."
    line(-67, 200, -67, -200)
    line(67, 200, 67, -200)
    line(-200, -67, 200, -67)
    line(-200, 67, 200, 67)

def drawx(x, y):
    "Draw X player."
    line(x, y, x + 133, y + 133)
    line(x, y + 133, x + 133, y)

def drawo(x, y):
    "Draw O player."
    up()
    goto(x + 67, y + 5)
    down()
    circle(62)

def floor(value):
    "Round value down to grid with square size 133."
    return ((value + 200) // 133) * 133 - 200

state = {'player': 0}
players = [drawx, drawo]

def tap(x, y):
    "Draw X or O in tapped square."
    x = floor(x)
    y = floor(y)
    player = state['player']
    draw = players[player]
    draw(x, y)
    update()
    state['player'] = not player

setup(420, 420, 370, 0)
hideturtle()
tracer(False)
grid()
update()
onscreenclick(tap)
done()

In [2]:
import qrcode
qr=qrcode.QRCode(
    version=5,
    box_size=5,
    border=2
)
name=input("enter your name:")
age=int(input("enter your age:"))
email=input("enter your email:")
mobile=int(input("enter your mobile:"))
data={"Name":name,"Age":age,"Email":email,"Mobile":mobile}
qr.add_data(data)
qr.make(fit=True)
img=qr.make_image()
img.save("mydetails_in_qr.png")
img.show()

enter your name:Phani
enter your age:24
enter your email:siginamsettyphani@gmail.com
enter your mobile:8125636250

In [6]:
def anagram(a,b):
    if len(a)==len(b):
        a1=sorted(a)
        b1=sorted(b)
        if a1==b1:
            return True
        else:
            return False

In [7]:
anagram('elbow','below')

True