# Implement List comprehensions to produce the following lists.
* 1. ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
* 2. ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

* 3. [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

* 4. [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

* 5. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

### Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.###

### Write a function filter_long_words() that takes a list of words and an integer n and returns the list of words that are longer than n.

### Write a Python program using function concept that maps list of words into a list of integers representing the lengths of the corresponding words.

### Write a Python function which takes a character (i.e. a string of length 1) and returns True if it is a vowel, False otherwise.

#### Implement a Python program to generate all sentences where subject is in ["Americans", "Indians"] and verb is in ["Play", "watch"] and the object is in ["Baseball","cricket"].
Hint: Subject,Verb and Object should be declared in the program as shown below.
subjects=["Americans","Indians"]

verbs=["play","watch"]

objects=["Baseball","Cricket"]

Output should come as below:
Americans play Baseball.

Americans play Cricket.

Americans watch Baseball.

Americans watch Cricket.

Indians play Baseball.

Indians play Cricket.

Indians watch Baseball.

Indians watch Cricket.

In [1]:
l = list()
for i in range(2000, 3201):
    if (i % 7) == 0 and (i % 5) != 0:
        l.append(i)
print(str(l)[1:-1], sep =",")

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [1]:
name = list()
rev_name = list()
first_name = input("Enter your First Name: ")
name.append(first_name)
rev_name.append(first_name[::-1])
last_name = input("Enter your Last Name: ")
name.append(last_name)
rev_name.append(last_name[::-1])
print(f"Reverse Name letters is: {first_name[::-1]} {last_name[::-1]}")
print("Reverse Full Name is: " + " ".join(name[::-1]))
print("Reverse Full Name with letters is: " + " ".join(rev_name[::-1]))

Enter your First Name: phani
Enter your Last Name: kumar
Reverse Name letters is: inahp ramuk
Reverse Full Name is: kumar phani
Reverse Full Name with letters is: ramuk inahp

In [3]:
l1 = ['x', 'y', 'z']
lst1 = [i*j for j in l1 for i in range(1, 5)]
lst1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [4]:
l2 = ['x', 'y', 'z']
lst2 = [i*j for j in range(1, 5) for i in l2]
lst2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [5]:
lst3 = [[x + y] for y in range(3) for x in range(2, 5)]
lst3

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [6]:
lst4 = [[a+b for b in range(2, 6)] for a in range(4)]
lst4

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [7]:
lst5 = [(p, q) for q in range(1, 4) for p in range(1, 4)]
lst5

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [8]:

def filter_long_words(words, n):
    l = list()
    for i in words:
        if len(i) > n:
            l.append(i)
    print(f"Longest words are: {l}")

In [9]:
lst = ["hello", "world", "name", "words", "computer science", "data science", "computer"]
filter_long_words(lst, 3)

Longest words are: ['hello', 'world', 'name', 'words', 'computer science', 'data science', 'computer']

In [12]:
def word_len(words):
    return len(words)
l = ['ab', 'cde', 'erty']
result = map(word_len, l)
list(result)

[2, 3, 4]

In [13]:
def vowel_check(char):
    if char == "a" or char == "e" or char == "i" or char == "o" or char == "u":
        return True
    else:
        return False

In [14]:
vowel_check(input("Input your character "))

Input your character a

True

In [15]:
subjects = ["Americans","Indians"]
verbs = ["play","watch"]
objects = ["Baseball","Cricket"]

sentence = [s + " " + v + " " + o for s in subjects for v in verbs for o in objects]

In [16]:

for i in sentence:
    print(i)

Americans play Baseball
Americans play Cricket
Americans watch Baseball
Americans watch Cricket
Indians play Baseball
Indians play Cricket
Indians watch Baseball
Indians watch Cricket

In [62]:
def addition(a,b=20):
    
    return a+b

In [47]:
addition(5)

25

In [8]:
class A:
    def addition(a,b=5):
    return a+b
ab=A()
ab.addition(15)

IndentationError: expected an indented block (<ipython-input-8-fa24e474eec8>, line 3)

In [77]:
for i in range(1,4):
    for j in range(1,i+1):
        print('*',end=' ')
    print()
for i in range(2,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* *
*

In [ ]:
a,A

In [81]:
{i:chr(i) for i in range(65,91)}

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [ ]:
a

In [1]:
a=1
a=2

In [2]:
a

2

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [13]:
for i in range(100,5,-5):
    print(i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10

In [64]:
def a(n):
    if n>=10 and n<=100:
        print('greater than 10 & less than 20')
    elif n==0:
        print('num 0')
    else:
        print('less than 10')

In [65]:
a(25)

greater than 10 & less than 20

In [32]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*',end=' ')
    print()
for i in range(3,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * *
* *
*

In [36]:
print({i:chr(i) for i in range(65,91)})

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}

In [39]:
for i in range(1,5):
    for j in range(65,65+i):
        print(chr(j),end=' ')
    print()
for i in range(3,0,-1):
    for j in range(65,65+i):
        print(chr(j),end=' ')
    print()

A
A B
A B C
A B C D
A B C
A B
A

In [40]:
for i in range(65,66):
    print(i)

65

In [59]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [82]:
150/(150+38)

0.7978723404255319